#leftside{
    display: flex;
    position: relative;
    /* top: 10px; */
    flex: 1;
    flex-direction: column;
}
#content{
    display: flex;
    flex-direction: column;
    position: relative;
    right: -16%;
    top: 50%;
    gap: 1rem;
}
#content>:nth-child(1){
    color: #13131A;
    font-family: Inter;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#content>:nth-child(2){
    position: relative;
    left: -9%;
}
#content>:nth-child(3){
    color: #13131A;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    bottom: -1%;
}
#rightside{
    flex: 1;
    position: relative;
    width: 300px;
    height: 500px;
    flex-shrink: 0;
    display: flex;
    left: 11%;
    top: 20%;
}